<div class="main">

    <div class="centered-content-container">
        <div id="left-panel">
            <h3 class="title">Cart</h3>
            <div class="grid">
                <div *ngFor="let prod of CartService.cart.products; index as i" class="product-box">
                    <div class=image-container>
                        <a routerLink="{{'/detail/' + prod.product.stub}}"><img src="{{prod.product.images[0]}}"></a>
                    </div>
                    <div class="text-container">
                        <p class="product-name">{{prod.product.name}}</p>
                        <p class="price">${{prod.product.price}}</p>
                        <p class="size">Size: {{prod.selectedSize}}</p>

                        <div class="qty submit-background">
                            <div class=icon-button-container>
                                <button class=purple-button (click)=changeQty(i,prod.quantity-1)>-</button>
                            </div>
                            <p class=qty-text>{{prod.quantity}}</p>
                            <div class=icon-button-container>
                                <button class=purple-button (click)=changeQty(i,prod.quantity+1)>+</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div id="right-panel">
            <div class="subtotal-box">
                <div class="subt-row">
                    <p class="subt-name">Subtotal </p><span
                        class="subt-value">${{CartService.subtotal.toFixed(2)}}</span>
                </div>
                <div class="subt-row">
                    <p class="subt-name">Tax </p><span class="subt-value">${{CartService.tax.toFixed(2)}}</span>
                </div>
                <div class="subt-row">
                    <p class="subt-name">Shipping </p><span class="subt-value">TBD</span>
                </div>
                <div class="total-row">
                    <p class="total-name">Total </p><span class="total-value">${{CartService.total.toFixed(2)}}</span>
                </div>
            </div>

            <div class=submit-background>
                <button class="checkout-button purple-button" (click)="checkout()">Checkout</button>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>