<div class="main">

    <div class="centered-content-container">
        <div id="left-panel">
            <h3 class="title"  [ngStyle]="{ 'color': StyleService.style.theme.title}">Cart</h3>
            <div class="grid">
                <div *ngFor="let prod of CartService.cart.products; index as i" class="product-box"  [ngStyle]="{ 'color': StyleService.style.theme.text }">
                    <div class=image-container>
                        <a routerLink="{{'/detail/' + prod.product.stub + '-' + prod.product._id}}"><img src="{{prod.product.images[0]}}"></a>
                    </div>
                    <div class="text-container">
                        <p class="product-name">{{prod.product.name}}</p>
                        <p class="price">${{prod.product.price}}</p>
                        <p class="size">Size: {{prod.selectedSize}}</p>

                    
                        <div class="qty">
                            
                                <button mat-icon-button disableRipple=false [ngStyle]="{'background': StyleService.style.theme.background, 'color': StyleService.style.buttons.background}" (click)=changeQty(i,prod.quantity-1)>
                                        <mat-icon>remove</mat-icon>
                                </button>
                          
                            <p class=qty-text>{{prod.quantity}}</p>
                           

                           

                           
                                <button mat-icon-button disableRipple=false [ngStyle]="{'background': StyleService.style.theme.background, 'color': StyleService.style.buttons.background}" (click)=changeQty(i,prod.quantity+1)>
                                    <mat-icon>add</mat-icon>
                                </button>

                            
                           
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div id="right-panel" [ngStyle]="{ 'color': StyleService.style.theme.text }">
            <div class="subtotal-box">
                <div class="subt-row">
                    <p class="subt-name">Subtotal </p><span
                        class="subt-value">${{CartService.subtotal.toFixed(2)}}</span>
                </div>
                <div class="subt-row">
                    <p class="subt-name">Tax </p><span class="subt-value">${{CartService.tax.toFixed(2)}}</span>
                </div>
                <div class="subt-row">
                    <p class="subt-name">Shipping </p><span class="subt-value">TBD</span>
                </div>
                <div class="total-row">
                    <p class="total-name">Total </p><span class="total-value">${{CartService.total.toFixed(2)}}</span>
                </div>
            </div>

            <!--

            
            <div class=submit-background>
                <button class="checkout-button purple-button" (click)="checkout()">Checkout</button>
            </div>
-->

            <div class=submit-background>
                    <button mat-raised-button [ngStyle]="{'background': StyleService.style.buttons.background, 'color': StyleService.style.buttons.text}" class="checkout-button" (click)="checkout()">Checkout</button>
                </div>
        </div>
    </div>

</div>

<app-footer></app-footer>