.container {
  display: inline-block;
  width: 100%;
  //margin-left: 5%;
  margin-top: 20px;
}

.third {
  float: left;
  width: calc((100% - 32px) / 3);
  padding: 0;
  margin: 0 16px 16px 0;
}

.third:last-of-type {
  float: left;
  margin-right: 0;
}



/* Customize the "Pay with Credit Card" button */


.submit-button {
  font-family: 'Montserrat';
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 100%;

  display: inline-block;
  cursor: pointer;
  color:  hsl(0, 0%, 100%);
  
  font-family: "Lato";
  text-align: center;
  
  
  background-color: transparent;
  background-image: radial-gradient(circle, #24243e 0%, #302b63 66%, #0f0c29 160%);


  background-position: center;
  background-size: 100%;
 background-repeat: no-repeat;
 
  
  //transition: background .8s; 
 /* transition-timing-function: ease-in-out; */
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1), 2px -2px 10px rgba(0, 0, 0, 0.1);
}


