button:focus {outline:0;}
.submit-button:focus {outline: 0;}

.main {
    margin-top: 66px;
    background: rgb(58, 58, 58);
    min-height: 100vh;
    font-family: 'Montserrat';
    color: white;
}


#center-panel {
    width: 300px;
    height: auto;
    margin-top: 66px;
    padding-top: 50px;
    margin-left: Calc(50vw - 150px); 
   
    align-content: center;
}

.form-container {
    background: green;
    width: 300px;
    
}


#title {
    display: inline-block;
    width: 300px;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    margin: 0px;
    

    background: whitesmoke;
    background: #1d1d1d;
    
    letter-spacing: 2px;
    font-weight: 100;
    
    text-transform: uppercase;
    border: 1px solid black;
    border-bottom: none;
 }

form {
    display: inline-block;
    background: #1d1d1d;
    
    margin: 0px;
    width: 300px;
    
    align-content: center;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;

    
    letter-spacing: 1px;
    
    padding-bottom: 0px;
    
}

.text-fields {
    height: 150px;
}


.login-field {
    display: block;
    text-align: left;
    padding: 10px 0px 10px 20px;
    height: auto;
    font-size: 14px;
}

.login-input {
    float: right;
    margin-right: 20px;
    font-size: 12px;
}


.submit-div {
    width: 300px;
    
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 35px;
}


.submit-button {
    display: inline-block;
    
    
    border: none;
    background-image: linear-gradient(to top, black, rgb(12, 0, 22)); 
    background: whitesmoke; 
    border-radius: 2px;
    width: 150px;
    height: 50px;
    
    
    margin-top: 0px;
    
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    
    font-size: 16px;
    text-align: center;
    color:  white;
    color: #1d1d1d;
   
    cursor: pointer;
}

.change-form-container {
    display: inline-block;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 0px;

    background: whitesmoke;
    background: #1d1d1d;
   
   
    
    border: 1px solid black;
    border-top: none;
}

 .change-form-button {
     border: none;
     display: block;
   
     background-color: inherit;
     width: 50px;
     height: 20px;
     padding: 0px;
     font-size: 11px;
     color: white;
     font-family: 'Montserrat';
     margin-left: 125px;
     margin-top: 0px;
     margin-bottom: 5px;
     cursor: pointer;
 }




@media only screen and (min-width: 1025px) {
    

    .form {
        height: 66px;
        width: 100px;
        font-size: 14px;
    }

   


    
   
}


button:focus {outline:0;}