<div class="header">
  </div>

<div class=logo-container>

<ng-template [ngIf]="showDesktopNav">
    <a class="logo" routerLink="/">
      <img class="mobile-logo" src='{{logo}}' alt="Kat Logo">
    </a>
</ng-template>
<ng-template [ngIf]="!showDesktopNav">
  <div class=logo-overlay></div>
</ng-template>
  
</div>


<div class=cart-container>
  <div class=cart>
      <mat-icon routerLink="/cart" matBadge="{{CartService.cartSize}}" inline=true matBadgeColor="warn" class="material-icons-outlined">shopping_cart</mat-icon>
  </div>
</div>



















<ng-template [ngIf]=desktop>


  <div class="dropdown-menu-container" [style.minHeight]="(yOffset >= 66) ? '66px' : '66px'" [style.paddingLeft]="(yOffset < 66) ? '66px' : '0px'"
    [style.paddingRight]="(yOffset < 66) ? '66px' : '0px'">


<ng-template [ngIf]="showDesktopNav">

    <div class="dropdown-item-container" *ngFor="let col of model.collections; index as i" (mouseenter)="show(i)"
      (mouseleave)="show(-1)">
      <ng-template [ngIf]=col.collection>
        <a class="drop-link" routerLink="/{{col.collection.stub}}">{{col.collection.name}}</a>
        <div class="dropdown-content" [style.display]="selected === i ? 'inline' : 'none'"
        [style.top]="(yOffset >= 66) ? '66px' : '132px'">
          <div class="category" *ngFor="let cat of col.categories">
            <ng-template [ngIf]=cat.page>
              <a class="category-link" routerLink="/pages/{{cat.page.stub}}">
                {{ cat.page.title }}</a>
            </ng-template>
            <ng-template [ngIf]=cat.category>
              <a class="category-link" routerLink="/{{cat.category.stub}}">
                {{ cat.category.name }}</a>
              <div class="subcategory" *ngFor="let sub of cat.subcategories">
                <a class="subcategory-link" routerLink="/{{sub.stub}}">
                  {{ sub.name }}</a>
              </div>
              <ng-template [ngIf]=cat.subcategoryPages>
                <div class="subcategory" *ngFor="let page of cat.subcategoryPages">
                  <a class="subcategory-link" routerLink="/pages/{{page.stub}}">
                    {{ page.title }}</a>
                </div>
              </ng-template>

            </ng-template>

          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]=col.page>
        <a class="drop-link" routerLink="/pages/{{col.page.stub}}">{{col.page.title}}</a>
      </ng-template>
    </div>





  </ng-template>

  </div>
</ng-template>





