<div class=main>
 
  <ng-template [ngIf]=messageSent>
      <div class="title-container">
          <img class="checkmark" src="../../../assets/icons/checked.png">
          <h3 class="title">Message Sent!</h3>
      </div>
  </ng-template>
    

  <ng-template [ngIf]=!messageSent>
   
  <form #contactUsForm="ngForm" class=form [formGroup]="FormGroup" (ngSubmit)=onSubmit()>
      <h1 class=title [ngStyle]="{ 'color': StyleService.style.theme.title }">Contact Us</h1>
 
    <mat-form-field class="half" appearance=outline>
      <mat-label>Name</mat-label>
        <input matInput required formControlName=name>
      </mat-form-field>
     
      <mat-form-field class="half" appearance=outline>
          <mat-label>Phone Number</mat-label>
            <input matInput required formControlName=phone>
          </mat-form-field>
      <mat-form-field class="full" appearance=outline>
          <mat-label>Email</mat-label>
            <input matInput required formControlName=email>
          </mat-form-field>
      
          
              <mat-form-field class="full" appearance=outline>
                  <mat-label>Message</mat-label>
                    <textarea cdkTextareaAutosize matInput required formControlName=message></textarea>
                  </mat-form-field>
                  
                <button mat-flat-button [ngStyle]="{ 'background': StyleService.style.buttons.background, 'color': StyleService.style.buttons.text }" class="submit-button" type="submit" [disabled]="!FormGroup.valid">Submit</button>


              </form>
               
  </ng-template>

            

</div>
<app-footer>
</app-footer>


