
#shopping-cart {
    display: none;
}
button:focus {
    outline: 0;
  }

$color-dark-blue: hsl(239, 100%, 9%);
$color-silver: hsl(0, 0%, 62%);
$color-white-blue: hsl(239, 43%, 99%);

.menu-button {
    position: fixed;
    left: 0px;
    top: 0;
    width: 66px;
    height: 66px;
    margin: 0px;
    padding: 0px;
    border: none;
    z-index: 1000000000;
}


mat-sidenav-container {
    min-height: 10vh;
    mat-sidenav {
       // min-height: 120vh;
       top: 66px;
    position: fixed;
       z-index: 1000000000;

    }
    mat-sidenav-content {
        //margin-top: 132px;
        min-height: 10vh;
    }
}


/* FOR MOBILE AND IPAD */
@media only screen and (max-width: 1024px) {

mat-sidenav-container {

    mat-sidenav {
    

    }
    mat-sidenav-content {
        margin-top: 66px;
       
    }
}

}



    