.block {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  //min-height: 200px;
  //width: 40%;
  //padding: 20px;
  margin-bottom: 5vh;

  .quill-wrapper {
    min-height: 100px;
    .quill-editor {
    }
  }

}



@media only screen and (max-width: 767px) {
 
  .block {
   .quill-wrapper {
     width: 90%;
     padding-left: 5%;
     padding-right: 5%;
   }
  } 
 }