<div class="navbar">

  <a class="logo" routerLink="/" (click)=closeMobileMenu()><img class="logo mobile-logo" src="../../../assets/icons/kat-logo.svg" alt="Kat Logo"></a>


  <div class="dropdown-menu-container">
    <div class="dropdown-item-container" *ngFor="let col of model.collections; index as i" (mouseenter)="show(i)" (mouseleave)="show(-1)">
      <ng-template [ngIf]=col.collection>
      <a class="drop-link" routerLink="/{{col.collection.stub}}">{{col.collection.name}}</a>
      <div class="dropdown-content" [style.display]="selected === i ? 'inline' : 'none'">
        <div class="category" *ngFor="let cat of col.categories">
          <ng-template [ngIf]=cat.page>
              <a class="category-link" routerLink="/pages/{{cat.page.stub}}">
                {{ cat.page.title }}</a>
          </ng-template>
          <ng-template [ngIf]=cat.category>
              <a class="category-link" routerLink="/{{cat.category.stub}}">
                {{ cat.category.name }}</a>
              <div class="subcategory" *ngFor="let sub of cat.subcategories">
                <a class="subcategory-link" routerLink="/{{sub.stub}}">
                  {{ sub.name }}</a>
              </div>
              <ng-template [ngIf]=cat.subcategoryPages>
                  <div class="subcategory" *ngFor="let page of cat.subcategoryPages">
                      <a class="subcategory-link" routerLink="/pages/{{page.stub}}">
                        {{ page.title }}</a>
                  </div>
              </ng-template>
              
          </ng-template>
         
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]=col.page>
        <a class="drop-link" routerLink="/pages/{{col.page.stub}}">{{col.page.title}}</a>
    </ng-template>
    </div>
  </div>

  <!-- The Container that is in the navbar-->
  <div class="mobile-dropdown-menu-container">
    <img src='../../../assets/icons/round-menu-24px.svg' id="mobile-dropdown-button" (click)=toggleMobileMenu()>
  </div>

  <!-- The content that appears if the mobile dopdown button is pressed -->
  <ng-template [ngIf]="showMobileMenu">
    <div class="mobile-dropdown-background">
      <div class="mobile-dropdown-content-container">

        <div class="button-container" *ngFor="let col of model.collections; index as i">
          <ng-template [ngIf]=!col.page>
              <button class="mobile-collection-button" id="{{col.collection.stub}}"
              (click)="expandCollectionsMobile($event.target.id)">{{col.collection.name}}</button>
  
            <div class="dropdown-content {{col.collection.stub}}">
              <a class="collection-link" routerLink="/{{col.collection.stub}}" (click)=toggleMobileMenu()>View all</a>
  
              <div class="category" *ngFor="let cat of col.categories">
                <ng-template [ngIf]="cat.category">
                    <button class="mobile-category-button" id="{{cat.category.stub}}"
                    (click)="expandCategoriesMobile($event.target.id)">{{
                        cat.category.name }}</button>
                  <a class="subcategory-link {{cat.category.stub}}" routerLink="/{{cat.category.stub}}" (click)=toggleMobileMenu()>View
                    all</a>
    
                  <div class="subcategory" *ngFor="let sub of cat.subcategories">
                    <a class="subcategory-link {{cat.category.stub}}" routerLink="/{{sub.stub}}" (click)=toggleMobileMenu()>
                      {{ sub.name }}</a>
                  </div>
    
                  <div class="subcategory" *ngFor="let page of cat.subcategoryPages">
                      <a class="subcategory-link {{cat.category.stub}}" routerLink="/pages/{{page.stub}}" (click)=toggleMobileMenu()>
                        {{ page.title }}</a>
                    </div>
                </ng-template>

                <ng-template [ngIf]="cat.page">
                    <a class="mobile-category-button" id="{{cat.page.stub}}" [style.paddingLeft.px]="0" [style.paddingRight.px]="0"
                    routerLink='/pages/{{cat.page.stub}}' (click)="toggleMobileMenu()">{{
                        cat.page.title }}</a>

                </ng-template>

               
  
              </div>
  
            </div>
          </ng-template>

          <ng-template [ngIf]=col.page>
              <a class="mobile-collection-button" id="{{col.page.title}}"
              routerLink="/pages/{{col.page.stub}}" (click)=toggleMobileMenu()>{{col.page.title}}</a>
          </ng-template>
         

        </div>
      </div>

    </div>
  </ng-template>



  <div class="cart-container">
    <div class="cart-number-container" [style.background]="(CartService.cartSize === 0) ? 'white' : 'crimson'">
      <p class="cart-number">{{CartService.cartSize}}</p>
    </div>
    <a class="cart" routerLink="/cart" (click)=closeMobileMenu()><img class="shopping-cart-icon"
        src="../../../assets/icons/outline-shopping_cart-24px.svg"></a>
  </div>

</div>